<footer>
  <div class="container-fluid" id="footMain">
	<div class="row-fluid">
	  <div class="span6">
		<div class="pull-left">
		  <h6>Press ` or tilde key to access command line</h6>
		</div>
	  </div>
	  <div class="span6">
		<div class="pull-right">
		  <h6>Company Name Here</h6>
		</div>
	  </div>
	</div>
  </div>
</footer>