<header class="borBox row-fluid pat-lightwool">
	<div class="span2 pull-left">
		&nbsp;
	</div>
	<div class="span7 pull-left">
		<br>
	</div>
	<div class="span3 pull-right">
		<div class="loginBox">
			<button class="btn btn-info droppy-toggle right" type="button" data-toggle="droppy"><i class="icon-white icon-user"></i> User&nbsp;&nbsp;<b class="caret"></b></button>
			<ul class="dropdown-menu droppy-menu" id="uOpsL">
				<li><a href="#"><i class="icon-user"></i> Profile</a></li>
				<li><a href="#" data-target="settingsModal"><i class="icon-cog"></i> Settings</a></li>
				<li class="divider"></li>
				<li><a href="#" data-target="loginModal"><i class="icon-share-alt"></i> Log In</a></li>
				<li><a href="#" data-target="registerModal"><i class="icon-bookmark"></i> Register</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-question-sign"></i> Help</a></li>
			</ul>
		</div>
	</div>

	
</header>
