<figure class="menuButton btn sharp btn-success" style="display: none;"><i class="icon-white icon-th-list"></i> Menu</figure>
<div class="form-horizontal centerOnPage" style="margin-left:-204px;position:fixed;top:27px;z-index:1031;">
     <div class="input-append">
          <input type="text" size="16" data-control="home" placeholder="Super Search" data-provide="typeahead" id="searchInput" class="span4fix"><button type="button" data-toggle="droppy" class="btn btn-info droppy-toggle sOpsB">Designs&nbsp;&nbsp;<b class="caret"></b></button><ul id="sOpsL" class="dropdown-menu droppy-menu">
            <li><a href="#"><i class="icon-fire"></i> Designs</a></li>
        <li><a href="#"><i class="icon-eye-open"></i> Apps</a></li>
          <li><a href="#"><i class="icon-eye-close"></i> Prototypes</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="icon-user"></i> Members</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="icon-align-justify"></i> Articles</a></li>
        </ul><button type="button" class="btn btn-info"><i class="icon-white icon-search"></i></button>
      </div>
    </div>
<!-- <section class="subHead" style="">
	<section class="row-fluid subHeadInner borBox">
		<div class="span12">
 
			<h3 class="pull-left welcome">Welcome</h3>
			<figure class="menuButton btn sharp btn-success" style="display: none;"><i class="icon-white icon-th-list"></i> Menu</figure>
			<div class="form-horizontal centerOnPage" style="margin-left: -204px;">
		       <div class="input-append">
		            <input type="text" size="16" data-control="home" placeholder="Super Search" data-provide="typeahead" id="searchInput" class="span4fix"><button type="button" data-toggle="droppy" class="btn btn-info droppy-toggle sOpsB">Designs&nbsp;&nbsp;<b class="caret"></b></button><ul id="sOpsL" class="dropdown-menu droppy-menu">
		            	<li><a href="#"><i class="icon-fire"></i> Designs</a></li>
					    <li><a href="#"><i class="icon-eye-open"></i> Apps</a></li>
      					<li><a href="#"><i class="icon-eye-close"></i> Prototypes</a></li>
      					<li class="divider"></li>
      					<li><a href="#"><i class="icon-user"></i> Members</a></li>
      					<li class="divider"></li>
      					<li><a href="#"><i class="icon-align-justify"></i> Articles</a></li>
      				</ul><button type="button" class="btn btn-info"><i class="icon-white icon-search"></i></button>
		       	</div>
	        </div>
			<ul class="bcrumbs pull-right">
				<li>Virgin</li>
				<li class="divdot">.</li>
				<li>Jobs</li>
			</ul>
		</div>
	</section>
</section> -->