<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container" style="width:1170px;">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <i class="icon icon-reorder"></i> Menu
      </a>
      <a href="#" class="brand"><img src="/assets/logo.png"></a>
      <a class="btn btn-large btn-primary btn-blue pull-right" href="/signin">Login with Facebook</a>
      <div class="nav-collapse collapse">
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div class="sub-navbar">
    <div class="container"> </div>
  </div>
</div>